<form action="/confirm" method="POST">
    <div class="form-group">
      <label for="codeInput">Nhập mã xác thực (gửi qua email)</label>
      <input type="text" class="form-control" id="codeInput" name="codeInput" aria-describedby="codeHelp" placeholder="Nhập mã xác nhận">
      <input type="hidden" name="code" id="code" value="<%= code %>">
      <input type="hidden" name="name" id="name" value="<%= addNewUser.name %>">
      <input type="hidden" name="email" id="email" value="<%= addNewUser.email %>">
      <input type="hidden" name="username" id="username" value="<%= addNewUser.username %>">
      <input type="hidden" name="hash" id="hash" value="<%= addNewUser.hash %>">
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
  </form>
  